BOT_TOKEN=<discord api key>
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.5gg7jyv.mongodb.net/?retryWrites=true&w=majority&appName=<Cluster name prob 'Cluster0'>
QUEST_CHANNEL_ID="1377652337702604924"
QUEST_ROLE="1387440790644457564"